<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
  
    <title>Document</title>
</head>
<body style="background-color: rgb(68, 66, 66); margin-top:40px; ">
<h1 style="color: rgb(17, 197, 17);display:flex; justify-content: center; align-items: center;font-size: 30px;">{{title}}</h1>
 <p style="color: #fff;display:flex; justify-content: center; align-items: center;">{{description}}</p>
</body>
</html>